# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# VSCode / IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.env

# Python test cache
.pytest_cache/
coverage.xml
htmlcov/

# Docker
*.log
docker-compose.override.yml
